@import "tailwindcss";

@theme {
  /* Define los colores personalizados */
  --primary-color: #4D681D; /* Gris oscuro */
  --secondary-color: #6E7B1E; /* Gris más oscuro */
  --accent-color: #F46314; /* Azul */
  --text-color: #333333; /* Gris oscuro para el texto */
  --dark-color: #133626; /* Verde oscuro */
  --warm-color: #975A31; /* Marron cálido */
}

/* Puedes añadir estilos base globales adicionales aquí si es necesario */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7fafc; /* Un gris claro por defecto para el body */
}